<!DOCTYPE html>
<html lang="ko">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>문제 풀기</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>

  <body>
    <!-- 문제 번호 표시 -->
    <h1>문제
      {{ problems_solved }}/10</h1>

    <!-- 커스텀 진행 바 -->
    <div class="progress-container">
      <div class="progress-bar" style="width: calc({{ problems_solved }} * 10%);"></div>
    </div>

    {% if sentence %}
      <p class="problem-word">아래 문장에서 '<span class="emphasize-word">{{ word }}</span>'의 품사는 무엇일까요?</p>
      <p class="sentence-box">문장: '{{ sentence }}'</p>
    {% endif %}

    <!-- 정답 제출 폼 (정답 확인 전) -->
    {% if not result_message %}
      <form method="post">
        {% csrf_token %}
        <!-- hidden 필드를 추가하여 sentence와 word 값을 전달 -->
        <input type="hidden" name="sentence" value="{{ sentence }}">
        <input type="hidden" name="word" value="{{ word }}">
        <input type="hidden" name="correct_answer" value="{{ correct_tag }}">
        <input type="text" name="answer" required="required" placeholder="품사를 입력하세요" autofocus="autofocus">
        <button type="submit">정답 제출</button>
        <!-- 참고 부분을 입력란 밑으로 이동 -->
        <small>참고: [명사, 대명사, 동사, 형용사, 부사, 관형사, 수사, 조사] 중에서 하나를 골라 입력하세요. (ex. 명사)</small>
      </form>
    {% endif %}

    <!-- 정답 확인 후 -->
    {% if result_message %}
      <p>
        <strong>{{ result_message }}</strong>
      </p>
      {% if show_next_button %}
        <form method="get" action="{% url 'problem' %}">
          <!-- 다음 문제로 넘어가기 버튼 -->
          <button type="submit">다음 문제로 넘어가기</button>
        </form>
      {% elif show_results_button %}
        <form method="post" action="{% url 'results' %}">
          <!-- 결과 보기 버튼 -->
          {% csrf_token %}
          <button type="submit">결과 보기</button>
        </form>
      {% endif %}
    {% endif %}

  </body>

</html>
