/* 전체 페이지 레이아웃 */
html, body {
    height: 100%; /* 전체 높이를 100%로 설정 */
    margin: 0; /* 기본 여백 제거 */
    display: flex; /* Flexbox 사용 */
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    background-color: #f0f0f0; /* 배경 색상 */
    min-height: 100vh; /* 최소 높이를 화면 높이로 설정 */
}

/* 중앙에 위치한 퀴즈 컨테이너 */
.quiz-container {
    background-color: #ffffff; /* 배경 색상 */
    padding: 40px; /* 패딩 */
    border-radius: 10px; /* 모서리 둥글게 */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
    text-align: center; /* 중앙 정렬 */
    width: 40%; /* 너비 설정 */
    min-width: 300px; /* 최소 너비 설정 */
    margin: auto; /* 수평 중앙 정렬 */
}


/* 제목 스타일 */
h1 {
    color: #333;
    font-size: 28px;
    margin-bottom: 20px;
}

/* 설명 텍스트 */
p {
    font-size: 18px;
    margin-bottom: 20px;
}

/* 버튼 스타일 */
button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* 폼의 인풋 필드 스타일 */
input[type="text"] {
    padding: 8px;
    font-size: 16px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    margin-top: 20px;
}

/* 정오답 표시 스타일 */
.correct {
    color: green;
    font-weight: bold;
}

.incorrect {
    color: red;
    font-weight: bold;
}
