<!DOCTYPE html>
<html lang="ko">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>퀴즈 완료</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>

  <body>
    <div class="quiz-container">
      <h1>퀴즈 완료</h1>
      <p>{{ message }}</p>
      <form action="{% url 'start' %}">
        <button type="submit">다시 시작하기</button>
      </form>
    </div>
  </body>

</html>
